<h1 id="login-h1">Sign in</h1>
<div class="login">
   <form id="login-form" class="form-grid-login" method="POST" action="/users/login"
   enctype="application/x-www-form-urlencoded">
      <label>Username</label>
      <input type="text" id="username" required name="username" >
      <br><br>
      <label>Password</label>
      <input type="password" required name="password" id="password">
      <br><br>
      <input type="submit" name="log" id="log" value="Login">
      <br>
      <br>
      <label>Need and account? </label>
      <a href="/register" id=registerButton class="navButtons">Create one</a>
   </form>
</div>